html,
body {
  background-color: white;
}

.App {
  font-family: arial;
}

.example {
  padding: 1rem;
  background-color: #f8f8f8;
  margin-bottom: 1rem;

  h2 {
    margin-top: 0;
    font-size: 16px;
  }
}
