@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

.banner {
  background-color: #184031;
  padding: 16px;
}

.banner > h1 {
  color: #ffffff;
}

main {
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

.park {
  box-shadow: 0 0 3px 2px rgba(115, 66, 48, 0.2);
  border-radius: 6px;
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.park > h2 {
  background-color: #734230;
  color: #fcc988;
  padding: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 2px;
  margin-top: 0;
}

.location {
  font-weight: 300;
  font-size: 0.8rem;
  padding-left: 4px;
}

.description {
  margin-top: 4px;
  padding: 4px;
  flex: 1;
}

.stats {
  display: flex;
  padding: 4px;
}

.stat {
  flex: 1;
  margin: 0 2px;
  border: solid 1px rgba(59, 161, 124, 0.3);
}

.stat > h3 {
  background-color: #3ba17c;
  color: #184031;
  margin: 0;
  padding: 2px;
  text-align: center;
}

.stat > .value {
  text-align: center;
  color: #184031;
  font-size: 0.9rem;
  padding: 4px;
}

.rateBtn {
  position: absolute;
  top: 6px;
  right: 4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
}

.rateBtn:hover {
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.stars {
  text-align: center;
}

.star {
  background: linear-gradient(90deg, #fc0 0.5, #fff 1);
}

@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}
